@{
    ViewData["Title"] = "Home Page";
}

<div>
	<h3>Gallery</h3>
	<form method="post" asp-action="AddPhotoAsync" name="files" enctype="multipart/form-data">
		<input type="file" name="myFile" accept="image/*" />
		<button class="btn btn-primary" type="submit">Load</button>
	</form>
</div>
