@{
    ViewData["Title"] = "Home Page";
}
@model CustomClass

<form method="post">
    <input type="file" placeholder="Select image" asp-for="" />
    <button onclick="send">Send</button>
</form>

<script>
    function send(){

    }
</script>