@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="AddCategories">
    <button type="submit">Add categories</button>
</form>
<form asp-action="AddProducts">
    <button type="submit">Add products</button>
</form>

<form asp-action="Index" asp-controller="Category">
    <input type="submit" value="To categories" />
</form>

<form asp-action="Index" asp-controller="Product">
    <input type="submit" value="To Products" />
</form>


