@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Product
<form class="d-flex flex-column" asp-action="CreateProduct" asp-controller="Product" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <label class="control-label">Title</label>
    <div class="form-group">
        <input name="name" asp-for=Title type="text" class="form-control form-control-user" required><br />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <label class="control-label">Description</label>
    <div class="form-group">
        <input name="desc" asp-for=Description type="text" class="form-control form-control-user" required><br />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <label class="control-label">Category Id</label>
    <div class="form-group">
        <select name="c_id">
            @foreach (Category item in ViewBag.categories)
            {
                <option value="@item.Id">@item.CategoryName</option>
            }
        </select>
    </div>

    <button class="btn btn-primary">Create</button>
</form>
