@{
    ViewData["Title"] = "Home Page";
}
@model MyService

<div class="text-center">
    <h1 class="display-4">Gallery</h1>
    <form method="POST" asp-action="Add" enctype="multipart/form-data">
        <input type="file" name="imgName" asp-for="fileName"/>
        <input type="submit" value="Download to cloud storage">
    </form>
</div>
